html {
	font-family: 'Open Sans',sans-serif;
	display: block;
	margin: 0px auto;
	text-align: center;
	color: #333333;
}
body {
	margin-top: 50px;
	width: 412px;
}
h1 {
	margin: -30px auto -10px;
}
.side-by-side{display: inline-block;vertical-align: middle;position: relative;}
.humidity-icon{background-color: #3498db;width: 30px;height: 30px;border-radius: 50%;line-height: 36px;}
.humidity-text{font-weight: 600;padding-left: 15px;font-size: 19px;width: 160px;text-align: left;}
.humidity{font-weight: 300;font-size: 60px;color: #3498db;}
.temperature-icon{background-color: #f39c12;width: 30px;height: 30px;border-radius: 50%;line-height: 40px;}
.temperature-text{font-weight: 600;padding-left: 15px;font-size: 19px;width: 160px;text-align: left;}
.temperature{font-weight: 300;font-size: 60px;color: #f39c12;}
.superscript{font-size: 17px;font-weight: 600;position: absolute;right: -20px;top: 15px;}
/*.data{padding: 10px;}*/

input[type="button"] {
	border: none;
}

.relay_on {
	background-color: red;
}

.relay_off {
	background-color: blue;
}

.demo_canvas {
	width: 350px;
	height: 350px;
	/*border: 1px solid #000;*/
	/*margin: 0 auto;*/
}

.temperature {
	position: absolute;
	left: 131px;
	top: 312px;
	/*border: 1px solid #000;*/
}




      #chart {
        max-width: 650px;
        margin: 0px auto;
        background-color: #2b2b2b;
      }
      .apexcharts-xaxis-label {
        fill: #5ee7ff;
      }
      .apexcharts-yaxis-label {
        fill: #8dff7d;
        fill: #ff6206;
      }