html {
  font-family: "Open Sans", sans-serif;
  display: block;
  margin: 0px auto;
  text-align: center;
  color: #333333;
}
body {
   margin: 0px auto; 
   max-width: 1280px; 
}
h1 {
  margin: -30px auto -10px;
}

.side-by-side {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-top: -10vh;
  z-index: -1;
  /* margin-top: calc(100% - 100px); */
}

.humidity-icon {
  background-color: #3498db;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 36px;
}
.humidity-text {
  font-weight: 600;
  padding-left: 15px;
  font-size: 19px;
  width: 160px;
  text-align: left;
}
.humidity {
  font-weight: 300;
  font-size: 60px;
  color: #3498db;
}
.temperature-icon {
  background-color: #f39c12;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 40px;
}
.temperature-text {
  font-weight: 600;
  padding-left: 15px;
  font-size: 19px;
  width: 160px;
  text-align: left;
}
.temperature {
  font-weight: 300;
  font-size: 60px;
  color: #f39c12;
}
.superscript {
  font-size: 19px;
  font-weight: 600;
}
/*.data{padding: 10px;}*/


.relay_on {
  background-color: red;
}

.relay_off {
  background-color: blue;
}

.gauge-meter {
  width: 350px;
  height: 350px;
  margin: 0px auto;
  z-index: -2;
  /*border: 1px solid #000;*/
  /*margin: 0 auto;*/
}

/* .temperature { */
  /* position: absolute; */
  /* margin: 0px auto; */
  /* left: 131px; */
  /* top: 312px; */
  /*border: 1px solid #000;*/
/* } */

#webpage{
	display: flex;
	flex-direction: column;
}



#chart {
  width:100%;
  margin: 0px auto;
  /* background-color: #2b2b2b; */
}
.apexcharts-xaxis-label {
  fill: #5ee7ff;
}
.apexcharts-yaxis-label {
  fill: #8dff7d;
  fill: #ff6206;
}







/* темы здесь */

/* https://web.dev/building-a-theme-switch-component/ */
.dark {
	background: black;
	color: white;
}
.theme-toggle{
    width: 5ex;
    height: 5ex;
    border-radius: 1ex;
    border-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-around;
	background-color: black;
}
.theme-toggle .sun, .theme-toggle .moon{
  width: 90%;
  /* color:black; */
}
/* .theme-toggle .moon{ */
	/* margin: 0 0 0.3ex; */
	/* color:white; */
/* } */

.dark .theme-toggle {
	background-color: white;
}
.theme-toggle span{
	font-size: 4.5ex;
}
.dark .sun, .moon{
	display:inline;
}
.dark .moon, .sun{
	display: none;
}

.dark .apexcharts-xaxis-texts-g{
	color: #dadada
}
