/* font for svg numbers */
@font-face {
  font-family: "Goldman";
  src: url("./Goldman-Regular.ttf");
}

html {
  font-family: "Goldman", sans-serif;
  display: block;
  margin: 0px auto;
  text-align: center;
  color: #333333;
}
body {
  margin: 0px auto;
  max-width: 1280px;
}
h1 {
  margin: -30px auto 0;
}

#webpage {
  display: flex;
  flex-direction: column;
}
#chart {
  width: 100%;
  margin: 0px auto;
  /* background-color: #2b2b2b; */
}
.apexcharts-xaxis-label {
  fill: #5ee7ff;
}
.apexcharts-yaxis-label {
  fill: #8dff7d;
  fill: #ff6206;
}

/* theme switch */
/* https://web.dev/building-a-theme-switch-component/ */
.dark {
  background: #000;
  color: white;
}
.theme-toggle {
  opacity: 0.5;
  max-width: 50px;
  max-height: 50px;
  width: 9vw;
  height: 9vw;
  border-radius: 0 0 1ex 0;
  border: none;
  /* border: 2px #b3b3b3 solid;
  border-top: none;
  border-left: none; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(32, 32, 32);
  cursor: pointer;
  transition: 0.5s ease-out;
}
.theme-toggle:hover {
  opacity: 1;
}
.theme-toggle .sun,
.theme-toggle .moon {
  width: 90%;
  /* color:black; */
}
.dark .theme-toggle {
  background-color: #164485;
}
.theme-toggle span {
  font-size: 4.5ex;
}
.dark .sun,
.moon {
  display: inline;
}
.dark .moon,
.sun {
  display: none;
}

.dark .apexcharts-xaxis-texts-g {
  color: #dadada;
}

/* gauge background svg */
.gauge-container {
  position: relative;
  align-self: center;
  width: 80%;
  max-width: 500px;
  cursor: pointer;
  margin: 0 0 3vh;
  /* display: flex;
  flex-direction: row;
  align-items:center; */

}
svg {
  display: block;
  font-family: "Goldman";
}
.the-temperature {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-size: 90pt;
  color: white;
  margin: 0;
  user-select: none;
  /* condensing width of the numbers */
  transform: scale(0.7, 1);
}
/* the glowing progress */
svg #progress-blue-circle {
  transform-origin: center;
  transform: rotate(30deg);
}
/* glowing strength */
svg #progress-blue-circle:nth-child(1){
  stroke-width: 7px;
}
/* DO NOT DELETE */
svg #progress-blue-circle circle {
  /* circle radius in svg = 140.5 */
  /* 140.5 * 2 * 3,141592654 = 883 */
  stroke-dasharray: 883;
  /* for the full 360 circle */
  /* stroke-dashoffset: calc(883 - (883 * var(--num)) / 100); */
  /* for the  270 arc + 120 arc:  */
  /* 883/360*120 = 294,3*/
  /* 883-294,3 = 588,7*/
  /* 120 - for the "20-100" */
  /* stroke-dashoffset: calc((588.7 - (588.7 * var(--num)) / 100)); */
}
/* DO NOT DELETE */
svg #white-arrow {
  /* the range 0-240 deg */
  transform-origin: center;
  /* transform: rotate(calc(240deg / 100 * var(--num))); */
}
.gauge_block{
  position: relative;
}
/* // gauge buttons */
#gauge_btns {
  position: absolute;
  z-index: 11;
transform: translateY(-80%);
}

#refresh-icon:hover > #btn-rt, #btn-lb:hover, #btn-lt:hover, #btn-rb:hover{
  fill: #444 !important;
}



#tempSlider {
  display: none;
}

@media (max-width: 550px) {
  .the-temperature {
    font-size: 21vmin;
  }
}
